.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #121212;
}

.login-card {
  width: 380px;
  padding: 24px;
  background: #1e1e1e !important;
  color: #fff;

  border-radius: 12px;
}

.full {
  width: 100%;
}

.title {
  text-align: center;
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 600;
}
