<div class="login-container">
  <mat-card class="login-card">
    <h1 class="title">Iniciar sesión</h1>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <!-- Email -->
      <mat-form-field appearance="outline" class="full">
        <mat-label>Correo electrónico</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-icon matSuffix>mail</mat-icon>

        @if (form.get("email")?.hasError("required")) {
          <mat-error>El correo es obligatorio</mat-error>
        } @else if (form.get("email")?.hasError("email")) {
          <mat-error>Formato de correo inválido</mat-error>
        }
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="outline" class="full">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-icon matSuffix>lock</mat-icon>

        @if (form.get("password")?.hasError("required")) {
          <mat-error>La contraseña es obligatoria</mat-error>
        }
      </mat-form-field>

      <!-- Error del backend -->
      @if (errorMsg) {
        <div class="error">
          <mat-icon>error</mat-icon>
          {{ errorMsg }}
        </div>
      }

      <button
        mat-raised-button
        color="primary"
        class="full"
        [disabled]="form.invalid || loading"
      >
        @if (loading) {
          <mat-spinner diameter="20"></mat-spinner>
        } @else {
          <span>Iniciar sesión</span>
        }
      </button>
    </form>
  </mat-card>
</div>
