.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #121212;
  overflow: auto;
}

.register-card {
  width: 400px;
  padding: 24px;
  background: #1f1f1f;
  color: #fff;
  border-radius: 12px;
  height: 100%;
  overflow: auto;

  form {
    height: 100%;
    overflow: auto;
  }
}

.full {
  width: 100%;
}

.title {
  text-align: center;
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 600;
}

.error {
  color: #ff6b6b;
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 8px;
}
