<mat-nav-list class="sidebar-list">
  @if (isEmployment) {
    <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
      <mat-icon matListIcon>dashboard</mat-icon>
      <span>Dashboard</span>
    </a>

    <a mat-list-item routerLink="/incapacities" routerLinkActive="active">
      <mat-icon matListIcon>assignment</mat-icon>
      <span>Incapacidades</span>
    </a>
  } @else {
    <a mat-list-item routerLink="/hr/dashboard" routerLinkActive="active">
      <mat-icon matListIcon>dashboard</mat-icon>
      <span>Dashboard</span>
    </a>

    <a mat-list-item routerLink="/hr/incapacities" routerLinkActive="active">
      <mat-icon matListIcon>assignment</mat-icon>
      <span>Incapacidades</span>
    </a>
    <a mat-list-item routerLink="/hr/reports" routerLinkActive="active">
      <mat-icon matListIcon>assessment</mat-icon>
      <span>Reportes</span>
    </a>
  }

  @if (isAdmin) {
    <a mat-list-item routerLink="/companies" routerLinkActive="active">
      <mat-icon matListIcon>corporate_fare</mat-icon>
      <span>Empresas</span>
    </a>
  }
</mat-nav-list>
